$darkerGreen: #b9cb81;
//$green: #b9cb81;
$green: #c3c4a4;
$blue: #0065a6;
$black:#1a171b;
$gray:#9c9e9f;

$title_1:'Usenet Regular', sans-serif;
$title_2:'Nimbus sans bold',sans-serif;
$font1:'Nimbus sans regular',sans-serif;